<nav class='navbar navbar-expand navbar-light bg-light'>
  <p>
    <img src="../../assets/images/logo.jpg" class="img-responsive center-block" style="max-height:80px;padding-bottom:30px" />
  </p>

  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li>
      <a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
    </li>
    <li>
      <a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Product List</a>
    </li>
    <li>
      <a class='nav-link' routerLinkActive='active' [routerLink]="['/shopping']">Shopping List</a>
    </li>
  </ul>
</nav>